
html {
	font-size: 16px;
	font-family: Helvetica;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#metadata-container {
	width: 400px;
}
.header {
	font-size: 1.5rem;
}
.image-container {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.large .image-container {
	padding-bottom: 52.5%;
}
.share-container__image {
	width: 100%;
}
.large .share-container__image {
	position: absolute;
	top: -45%;
	left: 0;
}
.small .image-container {
	width: 40%;
	float: left;
}

.small .share-description {
	width: 60%;
	float: left;
}
#og-title {
	font-size: 1.25rem;
}
#backup-images img {
	width: 30%;
	display: inline-block;
}